{% load static %}
{% load breadcrumb_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
        {% endblock meta %}
        <title>
            {% block title %}
                Node: {{ node_path }}
            {% endblock title %}
        </title>
        {% block stylesheets %}
        {% endblock stylesheets %}
        <link rel="stylesheet"
              href="{% static 'nodes/css/widgets/breadcrumbs.css' %}">
        <link rel="stylesheet" href="{% static 'nodes/css/widgets/sidebar.css' %}">
        <link rel="stylesheet"
              href="{% static 'nodes/css/widgets/full-navigation-layout.css' %}">
        <link rel="stylesheet"
              href="{% static 'nodes/css/widgets/iframe-node.css' %}">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/gh/bartlomiej-aleksiejczyk/aquaweb.css@0.3.4/dist/aquaweb.min.css" />
        <script src="{% static 'nodes/js/safe_html_viewer.js' %}"></script>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
