{% load static %}
{% load breadcrumb_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
        {% endblock meta %}
        <title>
            {% block title %}
                Node: {{ node_path }}
            {% endblock title %}
        </title>
        {% block stylesheets %}
        {% endblock stylesheets %}
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
