.sidebar-navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 6rem;
}

.sidebar-item {
  margin-bottom: 0.5rem;
}

.sidebar-link a {
  color: var(--color-text-primary);
  text-decoration: none;
  display: block;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.sidebar-link a:hover {
  background-color: var(--color-secondary-darker);
}

.sidebar-submenu {
  list-style: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.sidebar-submenu .sidebar-item {
  margin-bottom: 0.25rem;
}
