<ul class="sidebar-navbar">
    {% for name, node in tree.items %}
        <li class="sidebar-item">
            <span class="sidebar-link">
                {% if node.type == 'directory' %}
                    <a href="/nodes/{{ node.path }}/">{{ name }}</a>
                {% else %}
                    <a href="/nodes/{{ node.path }}">{{ name }}</a>
                {% endif %}
            </span>
            {% if node.children %}
                {% if node.type == 'directory' or node.type == 'root' %}
                    <ul class="sidebar-submenu">
                        {% include "partials/sidebar_navbar.html" with tree=node.children %}
                    </ul>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
